{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}

{{ define "main" }}
<div class="row">
  <div class="col-md-8">

    {{ if not .IsHome }}
    <header class="page-header">
      <h1>{{ .Title }}</h1>
    </header>
    {{ end }}

    <ul class="p-articles">
      {{ if .IsHome }}
        {{ range (.Paginate .Site.RegularPages).Pages }}
        <li>{{ .Render "li" }}</li>
        {{ end }}
      {{ else }}
        {{ range (.Paginate .Pages).Pages }}
        <li>{{ .Render "li" }}</li>
        {{ end }}
      {{ end }}
    </ul>

    {{ partial "pagination.html" . }}
  </div>
  <div class="col-md-4">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}
