
<aside class="l-sidebar">

  {{ $related := .Site.RegularPages.Related . | first 10 }}
  {{ with $related }}
  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">RELATED POSTS</div>
    </div>
    <div class="list-group">
      {{ range . }}
      <a href="{{ .Permalink }}" class="list-group-item">{{ .Title }}</a>
      {{ end }}
    </div>
  </section>
  {{ else }}
  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">LATESTS</div>
    </div>
    <div class="list-group">
      {{ range first 10 .Site.RegularPages }}
      <a href="{{ .Permalink }}" class="list-group-item">{{ .Title }}</a>
      {{ end }}
    </div>
  </section>
  {{ end }}

  {{ range $key, $value := .Site.Taxonomies }}
  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">{{ $key | singularize | upper }}</div>
    </div>
    <div class="list-group">
      {{ range first 10 $value.ByCount }}
      <a href="{{ "/" | absLangURL }}{{ $key }}/{{ .Name | urlize }}" class="list-group-item">{{ humanize .Name }}</a>
      {{ end }}
    </div>
  </section>
  {{ end }}

  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">AUTHOR</div>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <table>
          <tr>
            <td><img src="{{ .Site.BaseURL }}image/neko.jpg" width="50em" height="50em" style="border-radius:10px;" /></td>
            <td>&ensp;&ensp;</td>
            <td>
              夜風<br />
              <font color="#00acee" />
                <a href="https://twitter.com/chrofieyue">
                  <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;chrofieyue
                </a>
                &ensp;
                <a href="https://github.com/yokaze">
                  <i class="fa fa-github" aria-hidden="true"></i>&nbsp;yokaze
                </a>
              </font>
            </td>
          </tr>
          <tr>
            <td height="6em"></td>
          </tr>
        </table>
        <span style="display: inline-block">みならい k8s エンジニア</span> / <span style="display: inline-block">FUJIFILM X-T2</span> / <span style="display: inline-block">登山</span> / <span style="display: inline-block">心理学</span> / <span style="display: inline-block">ヤマノススメ</span> / <span style="display: inline-block">ゆるキャン</span>
      </div>
    </div>
  </section>
</aside>
